<div class="hero">
  <div class="hero__element">
    <LinkTo @route="quiz" class="hero__link hero__link_play">Ready?</LinkTo>
  </div>
  <div class="hero__element">
    {{#if this.hasResults}}
      <LinkTo @route="results" class="hero__link hero__link_results">Reflexions</LinkTo>
    {{else}}
      <span class="hero__link hero__link_results hero__link_disabled">Reflexions</span>
    {{/if}}
  </div>
</div>