<div class="hero">
  <div class="hero__element">
    <a href="/quiz" class="hero__link hero__link_play">Ready?</a>
  </div>
  <div class="hero__element">
    <a href="/results" class="hero__link hero__link_results">Reflexions</a>
  </div>
</div>